<section  class="bg-main-light py-4">
    
        <div class="container">
            <h2 class="fw-bold">Get the FreshCart app</h2>
            <p class="text-muted">we will send you a link,open it on your phone to download the app.</p>

            <div class="d-flex gap-3">
                <input type="text" placeholder="Email" class="form-control ">
                <button class="btn btn-main flex-shrink-0">Share App Link</button>

            </div>

            <!-- <div class="row mx-2">
                <div class="col-md-10 ">
                   
                </div>
                <div class="col-md-2 ">
                 
                </div>
                

           
    
            </div> -->
          

            <hr>
            <p class="text-center">  &#169; copy  right 2024 Nesreen Ahmed , All right Reversed</p>

        

    </div>



</section>