<section class="my-5">
    <h2 class="fw-bold my-5  text-center">
         <i class="fa-solid fa-heart text-danger"></i> Wish List <i class="fa-solid fa-heart  text-danger"></i> </h2>
    <div class="row gy-3 gx-2">
        <div class="col-md-2" *ngFor="let product of products " >
            <div class="product cursor-pointer" >

                <i *ngIf="!wishlistData.includes(product._id)" (click)="addWishlist(product._id)" class="fa-regular fa-heart heart"></i>

                <i *ngIf="wishlistData.includes(product._id)" (click)="removeWishlist(product._id)" class="fa-solid fa-heart heart text-danger"></i>
               
                <div class="px-2 " [routerLink]="['/details',product._id]">
                    <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                    <h3 class="h6 fw-bold">{{product.category.name | buy}}</h3>
                    <h4 class="h6 fw-medium" style="font-size: 15px;" >{{product.title | termtext:2}}</h4>
    
                    <div class="d-flex align-items-center justify-content-between">
                        <span>{{ product.price | currency :" EGP "}} </span>
                        <div>
                            <i class="fas fa-star rating-color"></i>
                            <span class="text-muted">{{product.ratingsAverage}}</span>
                        </div>
                    </div>
                </div>
            

                <button (click)="addCart(product._id)" class="btn-main w-100">Add To Cart</button>

            </div>
        </div>
    </div>

</section>

